/* -*- coding: utf-8 -*-
 * :Project:   SoL -- International flags
 * :Created:   mer 05 nov 2008 13:33:18 CET
 * :Author:    Lele Gaifax <lele@metapensiero.it>
 * :License:   GNU General Public License version 3 or later
 * :Copyright: © 2013, 2014, 2020 Lele Gaifax
 */

.sol-flags-icon {
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 29px;
    min-width: 22px;
    min-height: 15px;
}

/* These come from http://en.wikipedia.org/wiki/ISO_3166-1 */

.sol-flag-ABW { background-image: url(../images/flags/ABW.png); }
.sol-flag-AFG { background-image: url(../images/flags/AFG.png); }
.sol-flag-AGO { background-image: url(../images/flags/AGO.png); }
.sol-flag-AIA { background-image: url(../images/flags/AIA.png); }
.sol-flag-ALA { background-image: url(../images/flags/ALA.png); }
.sol-flag-ALB { background-image: url(../images/flags/ALB.png); }
.sol-flag-AND { background-image: url(../images/flags/AND.png); }
.sol-flag-ANT { background-image: url(../images/flags/ANT.png); }
.sol-flag-ARE { background-image: url(../images/flags/ARE.png); }
.sol-flag-ARG { background-image: url(../images/flags/ARG.png); }
.sol-flag-ARM { background-image: url(../images/flags/ARM.png); }
.sol-flag-ASM { background-image: url(../images/flags/ASM.png); }
.sol-flag-ATA { background-image: url(../images/flags/ATA.png); }
.sol-flag-ATF { background-image: url(../images/flags/ATF.png); }
.sol-flag-ATG { background-image: url(../images/flags/ATG.png); }
.sol-flag-AUS { background-image: url(../images/flags/AUS.png); }
.sol-flag-AUT { background-image: url(../images/flags/AUT.png); }
.sol-flag-AZE { background-image: url(../images/flags/AZE.png); }
.sol-flag-BDI { background-image: url(../images/flags/BDI.png); }
.sol-flag-BEL { background-image: url(../images/flags/BEL.png); }
.sol-flag-BEN { background-image: url(../images/flags/BEN.png); }
.sol-flag-BFA { background-image: url(../images/flags/BFA.png); }
.sol-flag-BGD { background-image: url(../images/flags/BGD.png); }
.sol-flag-BGR { background-image: url(../images/flags/BGR.png); }
.sol-flag-BHR { background-image: url(../images/flags/BHR.png); }
.sol-flag-BHS { background-image: url(../images/flags/BHS.png); }
.sol-flag-BIH { background-image: url(../images/flags/BIH.png); }
.sol-flag-BLM { background-image: url(../images/flags/BLM.png); }
.sol-flag-BLR { background-image: url(../images/flags/BLR.png); }
.sol-flag-BLZ { background-image: url(../images/flags/BLZ.png); }
.sol-flag-BMU { background-image: url(../images/flags/BMU.png); }
.sol-flag-BOL { background-image: url(../images/flags/BOL.png); }
.sol-flag-BRA { background-image: url(../images/flags/BRA.png); }
.sol-flag-BRB { background-image: url(../images/flags/BRB.png); }
.sol-flag-BRN { background-image: url(../images/flags/BRN.png); }
.sol-flag-BTN { background-image: url(../images/flags/BTN.png); }
.sol-flag-BVT { background-image: url(../images/flags/BVT.png); }
.sol-flag-BWA { background-image: url(../images/flags/BWA.png); }
.sol-flag-CAF { background-image: url(../images/flags/CAF.png); }
.sol-flag-CAN { background-image: url(../images/flags/CAN.png); }
.sol-flag-CCK { background-image: url(../images/flags/CCK.png); }
.sol-flag-CHE { background-image: url(../images/flags/CHE.png); }
.sol-flag-CHL { background-image: url(../images/flags/CHL.png); }
.sol-flag-CHN { background-image: url(../images/flags/CHN.png); }
.sol-flag-CIV { background-image: url(../images/flags/CIV.png); }
.sol-flag-CMR { background-image: url(../images/flags/CMR.png); }
.sol-flag-COD { background-image: url(../images/flags/COD.png); }
.sol-flag-COG { background-image: url(../images/flags/COG.png); }
.sol-flag-COK { background-image: url(../images/flags/COK.png); }
.sol-flag-COL { background-image: url(../images/flags/COL.png); }
.sol-flag-COM { background-image: url(../images/flags/COM.png); }
.sol-flag-CPV { background-image: url(../images/flags/CPV.png); }
.sol-flag-CRI { background-image: url(../images/flags/CRI.png); }
.sol-flag-CUB { background-image: url(../images/flags/CUB.png); }
.sol-flag-CXR { background-image: url(../images/flags/CXR.png); }
.sol-flag-CYM { background-image: url(../images/flags/CYM.png); }
.sol-flag-CYP { background-image: url(../images/flags/CYP.png); }
.sol-flag-CZE { background-image: url(../images/flags/CZE.png); }
.sol-flag-DEU { background-image: url(../images/flags/DEU.png); }
.sol-flag-DJI { background-image: url(../images/flags/DJI.png); }
.sol-flag-DMA { background-image: url(../images/flags/DMA.png); }
.sol-flag-DNK { background-image: url(../images/flags/DNK.png); }
.sol-flag-DOM { background-image: url(../images/flags/DOM.png); }
.sol-flag-DZA { background-image: url(../images/flags/DZA.png); }
.sol-flag-ECU { background-image: url(../images/flags/ECU.png); }
.sol-flag-EGY { background-image: url(../images/flags/EGY.png); }
.sol-flag-ERI { background-image: url(../images/flags/ERI.png); }
.sol-flag-ESH { background-image: url(../images/flags/ESH.png); }
.sol-flag-ESP { background-image: url(../images/flags/ESP.png); }
.sol-flag-EST { background-image: url(../images/flags/EST.png); }
.sol-flag-ETH { background-image: url(../images/flags/ETH.png); }
.sol-flag-FIN { background-image: url(../images/flags/FIN.png); }
.sol-flag-FJI { background-image: url(../images/flags/FJI.png); }
.sol-flag-FLK { background-image: url(../images/flags/FLK.png); }
.sol-flag-FRA { background-image: url(../images/flags/FRA.png); }
.sol-flag-FRO { background-image: url(../images/flags/FRO.png); }
.sol-flag-FSM { background-image: url(../images/flags/FSM.png); }
.sol-flag-GAB { background-image: url(../images/flags/GAB.png); }
.sol-flag-GBR { background-image: url(../images/flags/GBR.png); }
.sol-flag-GEO { background-image: url(../images/flags/GEO.png); }
.sol-flag-GGY { background-image: url(../images/flags/GGY.png); }
.sol-flag-GHA { background-image: url(../images/flags/GHA.png); }
.sol-flag-GIB { background-image: url(../images/flags/GIB.png); }
.sol-flag-GIN { background-image: url(../images/flags/GIN.png); }
.sol-flag-GLP { background-image: url(../images/flags/GLP.png); }
.sol-flag-GMB { background-image: url(../images/flags/GMB.png); }
.sol-flag-GNB { background-image: url(../images/flags/GNB.png); }
.sol-flag-GNQ { background-image: url(../images/flags/GNQ.png); }
.sol-flag-GRC { background-image: url(../images/flags/GRC.png); }
.sol-flag-GRD { background-image: url(../images/flags/GRD.png); }
.sol-flag-GRL { background-image: url(../images/flags/GRL.png); }
.sol-flag-GTM { background-image: url(../images/flags/GTM.png); }
.sol-flag-GUF { background-image: url(../images/flags/GUF.png); }
.sol-flag-GUM { background-image: url(../images/flags/GUM.png); }
.sol-flag-GUY { background-image: url(../images/flags/GUY.png); }
.sol-flag-HKG { background-image: url(../images/flags/HKG.png); }
.sol-flag-HMD { background-image: url(../images/flags/HMD.png); }
.sol-flag-HND { background-image: url(../images/flags/HND.png); }
.sol-flag-HRV { background-image: url(../images/flags/HRV.png); }
.sol-flag-HTI { background-image: url(../images/flags/HTI.png); }
.sol-flag-HUN { background-image: url(../images/flags/HUN.png); }
.sol-flag-IDN { background-image: url(../images/flags/IDN.png); }
.sol-flag-IMN { background-image: url(../images/flags/IMN.png); }
.sol-flag-IND { background-image: url(../images/flags/IND.png); }
.sol-flag-IOT { background-image: url(../images/flags/IOT.png); }
.sol-flag-IRL { background-image: url(../images/flags/IRL.png); }
.sol-flag-IRN { background-image: url(../images/flags/IRN.png); }
.sol-flag-IRQ { background-image: url(../images/flags/IRQ.png); }
.sol-flag-ISL { background-image: url(../images/flags/ISL.png); }
.sol-flag-ISR { background-image: url(../images/flags/ISR.png); }
.sol-flag-ITA { background-image: url(../images/flags/ITA.png); }
.sol-flag-JAM { background-image: url(../images/flags/JAM.png); }
.sol-flag-JEY { background-image: url(../images/flags/JEY.png); }
.sol-flag-JOR { background-image: url(../images/flags/JOR.png); }
.sol-flag-JPN { background-image: url(../images/flags/JPN.png); }
.sol-flag-KAZ { background-image: url(../images/flags/KAZ.png); }
.sol-flag-KEN { background-image: url(../images/flags/KEN.png); }
.sol-flag-KGZ { background-image: url(../images/flags/KGZ.png); }
.sol-flag-KHM { background-image: url(../images/flags/KHM.png); }
.sol-flag-KIR { background-image: url(../images/flags/KIR.png); }
.sol-flag-KNA { background-image: url(../images/flags/KNA.png); }
.sol-flag-KOR { background-image: url(../images/flags/KOR.png); }
.sol-flag-KWT { background-image: url(../images/flags/KWT.png); }
.sol-flag-LAO { background-image: url(../images/flags/LAO.png); }
.sol-flag-LBN { background-image: url(../images/flags/LBN.png); }
.sol-flag-LBR { background-image: url(../images/flags/LBR.png); }
.sol-flag-LBY { background-image: url(../images/flags/LBY.png); }
.sol-flag-LCA { background-image: url(../images/flags/LCA.png); }
.sol-flag-LIE { background-image: url(../images/flags/LIE.png); }
.sol-flag-LKA { background-image: url(../images/flags/LKA.png); }
.sol-flag-LSO { background-image: url(../images/flags/LSO.png); }
.sol-flag-LTU { background-image: url(../images/flags/LTU.png); }
.sol-flag-LUX { background-image: url(../images/flags/LUX.png); }
.sol-flag-LVA { background-image: url(../images/flags/LVA.png); }
.sol-flag-MAC { background-image: url(../images/flags/MAC.png); }
.sol-flag-MAF { background-image: url(../images/flags/MAF.png); }
.sol-flag-MAR { background-image: url(../images/flags/MAR.png); }
.sol-flag-MCO { background-image: url(../images/flags/MCO.png); }
.sol-flag-MDA { background-image: url(../images/flags/MDA.png); }
.sol-flag-MDG { background-image: url(../images/flags/MDG.png); }
.sol-flag-MDV { background-image: url(../images/flags/MDV.png); }
.sol-flag-MEX { background-image: url(../images/flags/MEX.png); }
.sol-flag-MHL { background-image: url(../images/flags/MHL.png); }
.sol-flag-MKD { background-image: url(../images/flags/MKD.png); }
.sol-flag-MLI { background-image: url(../images/flags/MLI.png); }
.sol-flag-MLT { background-image: url(../images/flags/MLT.png); }
.sol-flag-MMR { background-image: url(../images/flags/MMR.png); }
.sol-flag-MNE { background-image: url(../images/flags/MNE.png); }
.sol-flag-MNG { background-image: url(../images/flags/MNG.png); }
.sol-flag-MNP { background-image: url(../images/flags/MNP.png); }
.sol-flag-MOZ { background-image: url(../images/flags/MOZ.png); }
.sol-flag-MRT { background-image: url(../images/flags/MRT.png); }
.sol-flag-MSR { background-image: url(../images/flags/MSR.png); }
.sol-flag-MTQ { background-image: url(../images/flags/MTQ.png); }
.sol-flag-MUS { background-image: url(../images/flags/MUS.png); }
.sol-flag-MWI { background-image: url(../images/flags/MWI.png); }
.sol-flag-MYS { background-image: url(../images/flags/MYS.png); }
.sol-flag-MYT { background-image: url(../images/flags/MYT.png); }
.sol-flag-NAM { background-image: url(../images/flags/NAM.png); }
.sol-flag-NCL { background-image: url(../images/flags/NCL.png); }
.sol-flag-NER { background-image: url(../images/flags/NER.png); }
.sol-flag-NFK { background-image: url(../images/flags/NFK.png); }
.sol-flag-NGA { background-image: url(../images/flags/NGA.png); }
.sol-flag-NIC { background-image: url(../images/flags/NIC.png); }
.sol-flag-NIU { background-image: url(../images/flags/NIU.png); }
.sol-flag-NLD { background-image: url(../images/flags/NLD.png); }
.sol-flag-NOR { background-image: url(../images/flags/NOR.png); }
.sol-flag-NPL { background-image: url(../images/flags/NPL.png); }
.sol-flag-NRU { background-image: url(../images/flags/NRU.png); }
.sol-flag-NZL { background-image: url(../images/flags/NZL.png); }
.sol-flag-OMN { background-image: url(../images/flags/OMN.png); }
.sol-flag-PAK { background-image: url(../images/flags/PAK.png); }
.sol-flag-PAN { background-image: url(../images/flags/PAN.png); }
.sol-flag-PCN { background-image: url(../images/flags/PCN.png); }
.sol-flag-PER { background-image: url(../images/flags/PER.png); }
.sol-flag-PHL { background-image: url(../images/flags/PHL.png); }
.sol-flag-PLW { background-image: url(../images/flags/PLW.png); }
.sol-flag-PNG { background-image: url(../images/flags/PNG.png); }
.sol-flag-POL { background-image: url(../images/flags/POL.png); }
.sol-flag-PRI { background-image: url(../images/flags/PRI.png); }
.sol-flag-PRK { background-image: url(../images/flags/PRK.png); }
.sol-flag-PRT { background-image: url(../images/flags/PRT.png); }
.sol-flag-PRY { background-image: url(../images/flags/PRY.png); }
.sol-flag-PSE { background-image: url(../images/flags/PSE.png); }
.sol-flag-PYF { background-image: url(../images/flags/PYF.png); }
.sol-flag-QAT { background-image: url(../images/flags/QAT.png); }
.sol-flag-REU { background-image: url(../images/flags/REU.png); }
.sol-flag-ROU { background-image: url(../images/flags/ROU.png); }
.sol-flag-RUS { background-image: url(../images/flags/RUS.png); }
.sol-flag-RWA { background-image: url(../images/flags/RWA.png); }
.sol-flag-SAU { background-image: url(../images/flags/SAU.png); }
.sol-flag-SDN { background-image: url(../images/flags/SDN.png); }
.sol-flag-SEN { background-image: url(../images/flags/SEN.png); }
.sol-flag-SGP { background-image: url(../images/flags/SGP.png); }
.sol-flag-SGS { background-image: url(../images/flags/SGS.png); }
.sol-flag-SHN { background-image: url(../images/flags/SHN.png); }
.sol-flag-SJM { background-image: url(../images/flags/SJM.png); }
.sol-flag-SLB { background-image: url(../images/flags/SLB.png); }
.sol-flag-SLE { background-image: url(../images/flags/SLE.png); }
.sol-flag-SLV { background-image: url(../images/flags/SLV.png); }
.sol-flag-SMR { background-image: url(../images/flags/SMR.png); }
.sol-flag-SOM { background-image: url(../images/flags/SOM.png); }
.sol-flag-SPM { background-image: url(../images/flags/SPM.png); }
.sol-flag-SRB { background-image: url(../images/flags/SRB.png); }
.sol-flag-STP { background-image: url(../images/flags/STP.png); }
.sol-flag-SUR { background-image: url(../images/flags/SUR.png); }
.sol-flag-SVK { background-image: url(../images/flags/SVK.png); }
.sol-flag-SVN { background-image: url(../images/flags/SVN.png); }
.sol-flag-SWE { background-image: url(../images/flags/SWE.png); }
.sol-flag-SWZ { background-image: url(../images/flags/SWZ.png); }
.sol-flag-SYC { background-image: url(../images/flags/SYC.png); }
.sol-flag-SYR { background-image: url(../images/flags/SYR.png); }
.sol-flag-TCA { background-image: url(../images/flags/TCA.png); }
.sol-flag-TCD { background-image: url(../images/flags/TCD.png); }
.sol-flag-TGO { background-image: url(../images/flags/TGO.png); }
.sol-flag-THA { background-image: url(../images/flags/THA.png); }
.sol-flag-TJK { background-image: url(../images/flags/TJK.png); }
.sol-flag-TKL { background-image: url(../images/flags/TKL.png); }
.sol-flag-TKM { background-image: url(../images/flags/TKM.png); }
.sol-flag-TLS { background-image: url(../images/flags/TLS.png); }
.sol-flag-TON { background-image: url(../images/flags/TON.png); }
.sol-flag-TTO { background-image: url(../images/flags/TTO.png); }
.sol-flag-TUN { background-image: url(../images/flags/TUN.png); }
.sol-flag-TUR { background-image: url(../images/flags/TUR.png); }
.sol-flag-TUV { background-image: url(../images/flags/TUV.png); }
.sol-flag-TWN { background-image: url(../images/flags/TWN.png); }
.sol-flag-TZA { background-image: url(../images/flags/TZA.png); }
.sol-flag-UGA { background-image: url(../images/flags/UGA.png); }
.sol-flag-UKR { background-image: url(../images/flags/UKR.png); }
.sol-flag-UMI { background-image: url(../images/flags/UMI.png); }
.sol-flag-URY { background-image: url(../images/flags/URY.png); }
.sol-flag-USA { background-image: url(../images/flags/USA.png); }
.sol-flag-UZB { background-image: url(../images/flags/UZB.png); }
.sol-flag-VAT { background-image: url(../images/flags/VAT.png); }
.sol-flag-VCT { background-image: url(../images/flags/VCT.png); }
.sol-flag-VEN { background-image: url(../images/flags/VEN.png); }
.sol-flag-VGB { background-image: url(../images/flags/VGB.png); }
.sol-flag-VIR { background-image: url(../images/flags/VIR.png); }
.sol-flag-VNM { background-image: url(../images/flags/VNM.png); }
.sol-flag-VUT { background-image: url(../images/flags/VUT.png); }
.sol-flag-WLF { background-image: url(../images/flags/WLF.png); }
.sol-flag-WSM { background-image: url(../images/flags/WSM.png); }
.sol-flag-YEM { background-image: url(../images/flags/YEM.png); }
.sol-flag-ZAF { background-image: url(../images/flags/ZAF.png); }
.sol-flag-ZMB { background-image: url(../images/flags/ZMB.png); }
.sol-flag-ZWE { background-image: url(../images/flags/ZWE.png); }

/* These are not an official codes */
.sol-flag-eur { background-image: url(../images/flags/eur.png); }
.sol-flag-wrl { background-image: url(../images/flags/wrl.png); }
