/* -*- coding: utf-8 -*-
 * :Project:   SoL — Match autocompilation stylesheet
 * :Created:   gio 22 dic 2022, 08:28:51
 * :Author:    Lele Gaifax <lele@metapensiero.it>
 * :License:   GNU General Public License version 3 or later
 * :Copyright: © 2022, 2023, 2024 Lele Gaifax
 */

body.inverted {
  background-color: black;
  color: whitesmoke;
}

body.inverted a,
body.inverted a:link,
body.inverted a:visited {
  color: whitesmoke;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header .centered.title {
  margin-top: 0em;
  margin-bottom: 0.5em;
}

.header h1.centered.title {
  font-size: 120%;
}

.header h2.centered.title {
  font-size: 110%;
}

#countdown {
  position: relative;
  height: 5rem;
  width: 5rem;
  border: 2px solid orange;
  border-radius: 10px;
}

#countdown.pre-alarm {
  border: 4px solid red;
}

#countdown.stop {
  border: 0;
}

#countdown p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 180%;
  margin: 0;
  width: 100%;
}

#stop-sign {
  width: 95%;
  height: 95%
}

.invisible {
  display: none !important;
}

.ui.large.celled.table input[type="number"] {
  text-align: center;
  max-width: 2em;
  padding: 5px;
  -moz-appearance: textfield !important;
}

.ui.large.celled.table input[type="number"]::-webkit-outer-spin-button,
.ui.large.celled.table input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

.ui.large.celled.table input[type='radio'] {
  transform: scale(1.4);
}

.ui.large.celled.table.breaker-1 > tbody > tr:nth-child(odd) > td:first-child {
  box-shadow: 0.2em 0 0 0 #00b5ad inset;
}

.ui.large.celled.table.breaker-1 > tbody > tr:nth-child(even) > td:last-child {
  box-shadow: -0.2em 0 0 0 #00b5ad inset;
}

.ui.large.celled.table.breaker-2 > tbody > tr:nth-child(even) > td:first-child {
  box-shadow: 0.2em 0 0 0 #00b5ad inset;
}

.ui.large.celled.table.breaker-2 > tbody > tr:nth-child(odd) > td:last-child {
  box-shadow: -0.2em 0 0 0 #00b5ad inset;
}

.ui.large.celled.table thead tr th.current-board-breaker span {
  animation: breaker 1s linear 6;
  background-color: #00b5ad;
}

.ui.large.celled.table thead tr th.current-board-breaker {
  outline: thick double #00b5ad;
}

@keyframes breaker {
  from {
    background-color: #8a8a8a;
  }
  to {
    background-color: #00b5ad;
    padding: 3px 1px 3px 1px;
  }
}

.ui.large.celled.table > thead > tr:first-child th:first-child,
.ui.large.celled.table > thead > tr:first-child th:last-child {
  background: #8a8a8a;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ui.large.celled.table td {
  padding: 5px 0 5px 0;
}

.ui.large.celled.table > thead > tr:last-child th {
  padding: 5px 0 5px 0;
  font-size: 80%;
}

.ui.large.celled.table tfoot .ui.compact.medium.buttons button {
  padding: 0.5em;
}

.ui.large.celled.table tfoot tr:first-child button {
  margin: 0;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  0% { color: red; }
  100% { color: green; }
}

#total_1, #total_2 {
  font-size: 120%;
}

dialog.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

dialog.overlay .text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 40px;
  text-align: center;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
